<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h3>注文情報</h3>
			<%= form_with model: @order, url: "/orders", method: :post, local: true do |f| %>
			<h3>支払い方法</h3>
			<%= f.radio_button :payment, "クレジットカード" %><br>
			<%= f.radio_button :payment, "銀行振込" %>
			<h3>お届け先</h3>
			<%= f.radio_button :address, "ご自身の住所" %><br>
			<%= @delivery.postcode + @delivery.address + @delivery.name %><br>
			<%= f.radio_button :address, "登録住所から選択" %><br>
			<%= f.collection_select :all_address, @deliveries, :id, :name %><br>
			<%= f.radio_button :address, "新しいお届け先" %><br>
			<%= f.label :postcode, "郵便番号（ハイフンなし）" %>
			<%= f.text_field :postcode %><br>
			<%= f.label :address, "住所" %>
			<%= f.text_field :address %>
			<%= f.label :name, "宛名" %>
			<%= f.text_field :name %>
			<%= f.submit "確認画面へ進む" %>
			<% end %>
		</div>
	</div>
</div>